.pessoas {
    border: 1px solid black;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    flex-wrap: wrap;
  }

  .pessoas p {
    margin: 5px;
    color: red;
  }

  .pessoas:hover {
    max-width: 310px;
  }

  .pessoas p:hover {
    color: bisque;
  }
